{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Menu</title>
    <link rel="stylesheet" href="{% static 'css/tablas_mesas.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'image/Logo.jpg.png' %}" alt="Logo Restaurante Michu">
            <span class="restaurant-name">Restaurante Michu</span>
        </div>
        <nav>
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="{% url 'listar_menu' %}">MENÚ</a></li>
                <li><a href="#">RESERVACIONES</a></li>
                <li><a href="#">PEDIDOS</a></li>
                <li><a href="{% url 'listar_mesas' %}">MESAS</a></li>
                <li><a href="#">INVENTARIO</a></li>
                <li><a href="#">ESTADISTICAS</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Editar Menu</h1>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Guardar Cambios</button>
    </form>
</div>

    </main>
<div class="btn-container">
<a href="/listar_menu/" class="btn">Volver a Menu</a>
</div>
</body>
</html>
