{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Categoria</title>
    <link rel="stylesheet" href="{% static 'css/tablas_mesas.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'image/Logo.jpg.png' %}" alt="Logo Restaurante Michu">
            <span class="restaurant-name">Restaurante Michu</span>
        </div>
        <nav>
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="{% url 'listar_menu' %}">MENÚ</a></li>
                <li><a href="#">RESERVACIONES</a></li>
                <li><a href="#">PEDIDOS</a></li>
                <li><a href="{% url 'listar_mesas' %}">MESAS</a></li>
                <li><a href="#">INVENTARIO</a></li>
                <li><a href="#">ESTADISTICAS</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Listado de Categoria</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Editar</th>
                        <th>Descartar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                        <tr>
                            <td>{{ categoria.nombre }}</td>
                            <td>
                                <a href="{% url 'editar_categoria' categoria.pk %}"><i class="fas fa-edit"></i> Editar</a>
                            </td>
                            <td class="actions">
                            <div class="btn-container">
                            <a href="{% url 'eliminar_categoria' categoria.pk %}" onclick="return confirm('¿Estás seguro de eliminar esta categoria?');"><i class="fas fa-trash-alt"></i> Eliminar</a>
                            </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No hay categorias registrados.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if categorias.has_other_pages %}
            <div class="pagination">
                <span class="step-links">
                    {% if categorias.has_previous %}
                        <a href="?page=1">&laquo; Primero</a>
                        <a href="?page={{ categorias.previous_page_number }}">Anterior</a>
                    {% endif %}
                    <span class="current">
                        Página {{ categorias.number }} de {{ categorias.paginator.num_pages }}.
                    </span>
                    {% if categorias.has_next %}
                        <a href="?page={{ categorias.next_page_number }}">Siguiente</a>
                        <a href="?page={{ categorias.paginator.num_pages }}">Último &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}

        <div class="btn-container">
            <a href="{% url 'crear_categoria' %}" class="btn">Nueva Categoria</a>
        </div>
    </main>
</body>
</html>
